.swiper-pagination {
  max-width: 1170px !important;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  right: 0 !important;
  bottom: calc(50% + -245px) !important;
  left: 0 !important;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 0;
  text-align: initial;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #333;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 24px;
  background-color: #8e54e9;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.swiper-slide {
  text-align: left !important;
}

.swiper-slide {
  user-select: text; /* 텍스트를 선택할 수 있도록 설정 */
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .swiper-pagination {
    text-align: center;
  }
}
